<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta property='og:type' content='website'>
  <meta property='og:title' content='ソフトウェアエンジニアRyunosuke Kunisawa ポートフォリオ'>
  <meta property='og:url' content='URLが入る'>
  <meta property='og:description' content='Ryunosuke Kunisawaのポートフォリオサイトです。'>
  <meta property="og:image" content="img/ogp.png">
  <meta name="description" content="Ryunosuke Kunisawaのポートフォリオサイトです" />
  <title>Hanako Yamada ポートフォリオ</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cormorant+Garamond&family=Dancing+Script&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
  <link href="../static/content/ress.css" media="all" rel="stylesheet" type="text/css" />
  <link href="../static/content/style.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="img/favicon.ico" />
  <link rel=”canonical” href=”URLが入る” />
</head>

<body>
  <div class="wrapper">

    <main class="content">

      <!-- header -->
      <header class="header">
        <div class="header-inner">
          <p class="header-title">Ryunosuke Kunisawa</p>
          <p class="header-subtitle">Portfolio</p>
        </div>
      </header>
      <!-- /header -->

      <!-- gnav -->
      <nav class="gnav">
        <div class="gnav-inner">
          <ul class="gnav-list">
            <li class="gnav-item"><a href="#works">works</a></li>
            <li class="gnav-item"><a href="#about">about</a></li>
            <li class="gnav-item"><a href="#contact">contact</a></li>
          </ul>
        </div>
      </nav>
      <!-- /gnav -->

      <!-- works -->
      <section class="works section" id="works">
        <div class="inner">
          <h2 class="title">works</h2>
          <div class="works-list">
            <a class="works-item">
              <p class="works-img"><img src="../static/jpg/aaa171452.jpg" alt="" /></p>
              <p class="works-name">レース分析ツール開発</p>
              <p class="works-info">Customer work / Coding</p>
            </a>
            <a class="works-item">
              <p class="works-img"><img src="img/works-dummy-thumb.jpg" alt="" /></p>
              <p class="works-name">インフラ運用保守</p>
              <p class="works-info">Network infrastructure / Coding / OS</p>
            </a>
            <a class="works-item">
              <p class="works-img"><img src="img/works-dummy-thumb.jpg" alt="" /></p>
              <p class="works-name">生体認証開発</p>
              <p class="works-info">Coding/Deep learning</p>
            </a>
            <a class="works-item">
              <p class="works-img"><img src="img/works-dummy-thumb.jpg" alt="" /></p>
              <p class="works-name">パケット解析</p>
              <p class="works-info">Network/Deep learning</p>
            </a>
            <a class="works-item">
              <p class="works-img"><img src="img/works-dummy-thumb.jpg" alt="" /></p>
              <p class="works-name">所在管理システム開発</p>
              <p class="works-info">Network/Arduino/RFID/LoRA/Raspberry pi</p>
            </a>
          </div>
        </div>
      </section>
      <!-- /works -->

      <!-- about -->
      <section class="about section" id="about">
        <div class="inner">
          <h2 class="title">about</h2>
          <div class="profile">
            <p class="profile-img">
              <img src="../static/jpg/20292311.jpg" alt="">
            </p>
            <div class="profile-body">
                <p>
                    こんにちは！國澤龍之介と申します。
                </p>
                <p>
                    小学生にHSPを触り挫折してからは毎年コードを書いては挫折しを繰り返しています。
                    普段はSIerとして働いています。でもコーディングも行っています。
                    言語は主にPythonを多用していますが、必要に応じて新しく学習しています。
                </p>
            </div>
          </div>
        </div>
      </section>
      <!-- /about -->

      <!-- contact -->
      <section class="contact section" id="contact">
        <div class="inner">
          <h2 class="title">contact</h2>
          <p class="lead">
            お問い合わせは、<br class="sp-only">SNSかメールにてお願いいたします。
          </p>
          <div class="contact-list">
            <a class="contact-item" href="https://twitter.com/raika_sweet" target="_blank" rel="noopener">Twitter</a>
            <span class="contact-item">raikausami92@gmail.com</span>
          </div>
        </div>
      </section>
      <!-- /contact -->
      <div class="page-top" id="js-page-top">
        <span class="material-icons-outlined">expand_less</span>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="copyright">&copy;Ryunosuke Kunisawa</div>
    </footer>
    <!-- /footer -->

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type='text/javascript' src="../static/scripts/script.js"></script>
</body>
</html>